body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Chivo', sans-serif;
    color: #d27d00;
}

/*Weather widget*/
.weather-holder {
    position: relative;
    width: 90%;
    max-width: 400px;
    min-height: 300px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0, 0, 0, .75);
    box-shadow: 0 0 3px black;
    border-radius: 4px;
    padding: 10px 10px 20px;
    top: 10%;
    margin: 0 auto 40px;
}

.creds {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: rgba(210, 125, 0, 0.5);
}

.weather-head {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction:  row;
    flex-wrap:  nowrap;
    flex-grow:  1;
    flex-shrink:  1;
    align-items:  center;
    justify-content:  space-between;
    border-bottom: 1px solid #d27d00;
}

.head-title h1 {
    position: absolute;
    width: 100%;
    margin: 0;
    top: -45px;
    left: 0;
    color: rgba(0, 0, 0, .75);
}

.time {
    font-size: 18px;
    font-weight: bold;
}

.weather-logo svg{
    width: 50px;
    height: 50px;
    fill: #d27d00;
}

.cities {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.cities .primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.cities__name {
    width: 50%;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.cities__weather-icon {
    width: 15%;
}

.cities__weather-info {
    width: 35%;
    text-align: right;
}

.average-temp {
    font-size: 25px;
}

.wind-icon {
    fill: #005387;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.wind-icon svg {
    width: 16px;
    height: 16px;
}

.wind-speed {
    color: #005387;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.more-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear ;
    opacity: 1;
    max-height: 300px;
}

.more-info.ng-hide {
    opacity:0;
    max-height: 0;
}

.forecast {
    width: 33%;
}

.forecast.exp {
    height: auto;
}

.forecast:not(:last-child) {
    border-right: 1px solid #d27d00;
}

/*temperature switch*/
.switch-group {
    display: flex;
    width: 80px;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
}

.switch-group > div {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}

.switch-group .btn {
    cursor: pointer;
    transition: all .5s linear;
}

.switch-group .btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.switch-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn {
    position: relative;
    background: #0d3245;
    color: white;
}

.btn.active {
    background: rgba(0, 150, 136, .5);
    box-shadow: inset 0 0 10px #000;
}

.btn::after {
    content: "\00b0";
    position: absolute;
    top: -2px;
    right: 5px;
}

/*Loader*/
.single13 {
    height: 10px;
    width: 120px;
    border-radius: 4px;
    background: -webkit-linear-gradient(right, rgba(26,102,224,1) 0%, rgba(29,224,198,1) 32%, rgba(226,226,29,1) 51%, rgba(29,224,198,1) 69%, rgba(22,79,192,1) 100%);
    background: linear-gradient(270deg, rgba(26,102,224,1) 0%, rgba(29,224,198,1) 32%, rgba(226,226,29,1) 51%, rgba(29,224,198,1) 69%, rgba(22,79,192,1) 100%);
    background-size: 500% 500%;
    -webkit-animation: single13anim 3s ease-in-out infinite;
    animation: single13anim 3s ease-in-out infinite;
}

@-webkit-keyframes single13anim {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

@keyframes single13anim {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}