<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather App</title>
  <meta name="description" content="Simple weather forecast for 5 cities based on openweather api">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="vendor/styles/angular-csp.css">
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700" rel="stylesheet">
  <script src="vendor/scripts/angular.min.js"></script>
</head>
<body ng-app="weatherApp">
    <div class="weather-holder" ng-controller="weatherCtrl as vm">
      <div class="head-title">
        <h1>Weather App</h1>
      </div>
      <div class="weather-head">
        <div class="time">
          {{vm.clock | date: 'HH:mm a'}}
        </div>
        <div class="weather-logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17.5 2c.827 0 1.5.673 1.5 1.5v7.525c0 1.569.514 2.287 1.411 3.05 1.01.858 1.589 2.106 1.589 3.425 0 2.481-2.019 4.5-4.5 4.5s-4.5-2.019-4.5-4.5c0-1.319.579-2.567 1.59-3.425.896-.761 1.41-1.479 1.41-3.05v-7.525c0-.827.673-1.5 1.5-1.5zm0-2c-1.933 0-3.5 1.567-3.5 3.5v7.525c0 .587-.258 1.146-.705 1.525-1.403 1.192-2.295 2.965-2.295 4.95 0 3.59 2.909 6.5 6.5 6.5s6.5-2.91 6.5-6.5c0-1.985-.892-3.758-2.295-4.95-.447-.38-.705-.938-.705-1.525v-7.525c0-1.933-1.567-3.5-3.5-3.5zm2.107 14.718c-1.012-.89-1.607-1.734-1.607-3.22v-6.498h-1v6.498c0 1.484-.597 2.332-1.607 3.22-.794.698-1.393 1.642-1.393 2.782 0 1.933 1.567 3.5 3.5 3.5s3.5-1.567 3.5-3.5c0-1.14-.599-2.083-1.393-2.782zm-13.107-8.718c1.379 0 2.5 1.122 2.5 2.5s-1.121 2.5-2.5 2.5-2.5-1.122-2.5-2.5 1.121-2.5 2.5-2.5zm0-1c-1.933 0-3.5 1.567-3.5 3.5s1.567 3.5 3.5 3.5 3.5-1.567 3.5-3.5-1.567-3.5-3.5-3.5zm-4.5 3.5c0-.171.032-.333.051-.5h-2.051v1h2.051c-.019-.167-.051-.329-.051-.5zm1.705-3.501l-1.448-1.449-.707.707 1.448 1.448c.21-.261.445-.497.707-.706zm6.297.706l1.447-1.448-.707-.707-1.448 1.448c.263.21.498.445.708.707zm-3.502-1.705c.171 0 .334.032.5.05v-2.05h-1v2.05c.166-.018.329-.05.5-.05zm0 9c-.171 0-.334-.032-.5-.05v2.05h1v-2.05c-.166.018-.329.05-.5.05zm4.449-5c.019.167.051.329.051.5l-.051.5h2.051v-1h-2.051zm-7.951 3.294l-1.448 1.449.707.707 1.448-1.448c-.262-.21-.497-.446-.707-.708zm6.296.708l1.448 1.448.707-.707-1.447-1.448c-.21.262-.445.497-.708.707z"/></svg>
        </div>
        <div class="switch-group">
          <div class="btn" ng-class="{'active': vm.metricSystem}" ng-click="vm.switchTempType('C')">C</div>
          <div class="btn" ng-class="{'active': !vm.metricSystem}" ng-click="vm.switchTempType('F')">F</div>
        </div>
      </div>
      <div class="weather-content">
        <city-weather ng-repeat="city in vm.cities track by $index"
                      city-name="{{city}}"
                      degree-type="{{vm.degreeType}}">
        </city-weather>
      </div>
      <div class="creds">
        Made by Alexander Ismagulov&copy;2018
      </div>
    </div>
  <script src="js/app.js"></script>
  <script src="vendor/scripts/angular-animate.min.js"></script>
</body>
</html>