<!--This template is not used in build as chrome throw CORS error but
    as a best practice we usually use external templates
-->
<div class="cities">
  <div class="primary" ng-click="vm.showMore()">
    <div class="cities__name">
      {{cityName}}
    </div>
    <div class="cities__weather-icon" ng-if="!vm.loading">
      <img ng-src="{{vm.iconSrc}}" alt="weather icon">
    </div>
    <div class="cities__weather-info" ng-if="!vm.loading">
      <div class="average-temp">
        <span class="temp">{{vm.temp}}</span> {{vm.degreeUnits}}&deg;
      </div>
      <div class="wind-speed">
        <div class="wind-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.688 6.668c.172 3.71-3.595 6.901-6.56 9.735-2.175 2.079-3.849 4.743-4.03 7.597-2.059-1.342-2.509-3.797-2.123-5.938.53-2.95-2.231-4.9-3.293-5.822-2.15-1.867-3.682-4.216-3.682-6.647 0-4.607 5.533-5.593 10.108-5.593 3.397 0 9.892.913 9.892 3.798 0 1.979-5.022 3.202-9.56 3.202-8.735 0-7.32-3.886-1.765-3.886.9 0 1.821.097 2.622.323-2.927.057-6.493 1.563-1.189 1.563 1.136 0 7.163-.385 7.163-1.5s-5.303-1.578-7.163-1.578c-3.281 0-8.108.609-8.108 3.671 0 1.636 1.063 3.46 2.994 5.137l.311.262c1.29 1.076 4.307 3.591 3.646 7.389.72-1.172 1.851-2.511 2.946-3.568-.542 0-1.602-.302-2.229-.75 1.071.089 3.084-.188 4.604-1.562-1.312 0-2.787-.219-3.74-1.062 2.44.155 5.303-.312 6.282-1.854-1.625.333-4.834.104-6.702-.875 3.045.045 7.022-.462 9.578-2.079l-.001.028.003-.001-.004.01zm-7.688 15.332c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm-7 0c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm-3-1c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm2-2c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm10 0c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm2 2c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1z"/></svg>
        </div>
        <div class="speed">
          {{vm.windSpeed}}
        </div>
      </div>
    </div>
    <div ng-if="vm.loading">
      <div class="single13"></div>
    </div>
  </div>
  <div class="more-info" ng-show="vm.expanded">
    <div class="forecast" ng-repeat="item in vm.hoursData track by $index">
      <div class="forecast__time">
        {{vm.convertTime(item.dt) | date: 'HH:mm a'}}
      </div>
      <div class="forecast__temp">
        Min: <span class="max">{{vm.round(item.main.temp_max, 1)}} {{vm.degreeUnits}}&deg;</span>
        Max: <span class="max">{{vm.round(item.main.temp_min, 1)}} {{vm.degreeUnits}}&deg;</span>
      </div>
      <div class="forecast__wind">
        <div class="wind-speed">
          <div class="wind-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.688 6.668c.172 3.71-3.595 6.901-6.56 9.735-2.175 2.079-3.849 4.743-4.03 7.597-2.059-1.342-2.509-3.797-2.123-5.938.53-2.95-2.231-4.9-3.293-5.822-2.15-1.867-3.682-4.216-3.682-6.647 0-4.607 5.533-5.593 10.108-5.593 3.397 0 9.892.913 9.892 3.798 0 1.979-5.022 3.202-9.56 3.202-8.735 0-7.32-3.886-1.765-3.886.9 0 1.821.097 2.622.323-2.927.057-6.493 1.563-1.189 1.563 1.136 0 7.163-.385 7.163-1.5s-5.303-1.578-7.163-1.578c-3.281 0-8.108.609-8.108 3.671 0 1.636 1.063 3.46 2.994 5.137l.311.262c1.29 1.076 4.307 3.591 3.646 7.389.72-1.172 1.851-2.511 2.946-3.568-.542 0-1.602-.302-2.229-.75 1.071.089 3.084-.188 4.604-1.562-1.312 0-2.787-.219-3.74-1.062 2.44.155 5.303-.312 6.282-1.854-1.625.333-4.834.104-6.702-.875 3.045.045 7.022-.462 9.578-2.079l-.001.028.003-.001-.004.01zm-7.688 15.332c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm-7 0c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm-3-1c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm2-2c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm10 0c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1zm2 2c-.553 0-1 .448-1 1s.447 1 1 1 1-.448 1-1-.447-1-1-1z"/></svg>
          </div>
          <div class="speed">
            {{item.wind.speed}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>